:root {
    --ijolumut: #163020;
    --darkpeach: #643843;
    --darkmaroon: #820300;
}

.bg-ijolumut {
    background-color: #163020 !important;
}

.bg-darkmaroon {
    background-color: #820300 !important;
}

a.bg-darkmaroon:hover,
a.bg-darkmaroon:focus,
button.bg-darkmaroon:hover,
button.bg-darkmaroon:focus {
    background-color: #823433 !important;
}

.bg-darkpeach {
    background-color: #643843 !important;
}

a.bg-darkpeach:hover,
a.bg-darkpeach:focus,
button.bg-darkpeach:hover,
button.bg-darkpeach:focus {
    background-color: #b17684 !important;
}

.login-page,
.register-page {
    background-color: #343a40 !important;
}

.content-header {
    padding: 15px 0.5rem 0.3rem !important;
}

.select2,
.select2-selection__rendered {
    font-size: 0.875rem;
    border-radius: 0.2rem !important;
    line-height: calc(1.5em + 0.5rem + 2px) !important;
}
.select2-selection__rendered {
    padding-left: 0.25rem !important;
}
.select2-container .select2-selection--single {
    font-size: 0.875rem;
    border-radius: 0.2rem !important;
    padding-left: 0.25rem !important;
    height: calc(1.5em + 0.5rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection__clear {
    float: right;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    width: 1.2em !important;
    height: 1.2em !important;
    padding-left: 0em !important;
    padding-top: 0.2em !important;
    margin-top: 0.3em !important;
    margin-right: 0.3em;
    line-height: 0.75em;
    background-color: rgb(230, 21, 21) !important;
    border-radius: 50% !important;
}

.select2-container--bootstrap4
    .select2-selection--single
    .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px;
    background-color: rgb(61, 64, 251) !important;
    /* background-color: rgba(20, 150, 0, 0.8); */
}

.select2-results {
    display: block;
    font-size: 0.875rem;
}

.text-sm-right {
    font-size: 0.875rem !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
.table > thead > tr > th {
    vertical-align: middle;
}

.table-xs th {
    padding: 0.5rem;
}
.table-xs td {
    padding: 0.1rem;
}

.bg-e9c46a {
    background-color: #22333b;
    color: antiquewhite;
}

.dataTables_filter {
    display: none;
}

::placeholder {
    font-style: italic;
    font-size: 0.8rem !important;
    font-weight: 500;
    color: #d63384 !important;
}

.select2-selection__placeholder {
    font-style: italic;
    font-size: 0.7rem !important;
    font-weight: 500;
    color: #d63384 !important;
}

.input-group > .custom-file {
    height: calc(2.25rem + 2px) !important;
}

.form-control {
    color: #000000 !important;
    font-weight: 600;
}

.text-sm {
    font-weight: 600;
}

.text-xs {
    font-weight: 600;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
}

.select2-container--bootstrap4
    .select2-selection--single
    .select2-selection__rendered {
    color: #000000 !important;
    font-weight: 600;
}

.input-group > .custom-file {
    height: calc(2.25rem + 2px) !important;
}

@keyframes shake {
    /* 0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-10px); }
    20%, 80% { transform: translateX(10px); }
    30%, 50%, 70% { transform: translateX(-10px); }
    40%, 60% { transform: translateX(10px); }
    100% { transform: translateX(0); } */
    0% {
        transform: translateX(0);
    }
    10%,
    90% {
        transform: translateX(-5px);
    }
    20%,
    80% {
        transform: translateX(5px);
    }
    30%,
    50%,
    70% {
        transform: translateX(-5px);
    }
    40%,
    60% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
}

.custom-file-label::after {
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}

.action-buttons {
    display: flex;
    justify-content: center;
}
